<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="foo">
      <h2 data-cy="fooDetailsHeading"><span jhiTranslate="webAppApp.foo.detail.title">Foo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ foo.id }}</span>
        </dd>
        <dt><span jhiTranslate="webAppApp.foo.fooName">Foo Name</span></dt>
        <dd>
          <span>{{ foo.fooName }}</span>
        </dd>
        <dt><span jhiTranslate="webAppApp.foo.address">Address</span></dt>
        <dd>
          <span>{{ foo.address }}</span>
        </dd>
        <dt><span jhiTranslate="webAppApp.foo.mobile">Mobile</span></dt>
        <dd>
          <span>{{ foo.mobile }}</span>
        </dd>
        <dt><span jhiTranslate="webAppApp.foo.fooNo">Foo No</span></dt>
        <dd>
          <span>{{ foo.fooNo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/foo', foo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
