<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-foo-heading" data-cy="FooCreateUpdateHeading" jhiTranslate="webAppApp.foo.home.createOrEditLabel">
        Create or edit a Foo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="webAppApp.foo.fooName" for="field_fooName">Foo Name</label>
          <input type="text" class="form-control" name="fooName" id="field_fooName" data-cy="fooName" formControlName="fooName" />
          <div *ngIf="editForm.get('fooName')!.invalid && (editForm.get('fooName')!.dirty || editForm.get('fooName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fooName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="webAppApp.foo.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="webAppApp.foo.mobile" for="field_mobile">Mobile</label>
          <input type="text" class="form-control" name="mobile" id="field_mobile" data-cy="mobile" formControlName="mobile" />
          <div *ngIf="editForm.get('mobile')!.invalid && (editForm.get('mobile')!.dirty || editForm.get('mobile')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('mobile')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="webAppApp.foo.fooNo" for="field_fooNo">Foo No</label>
          <input type="text" class="form-control" name="fooNo" id="field_fooNo" data-cy="fooNo" formControlName="fooNo" />
          <div *ngIf="editForm.get('fooNo')!.invalid && (editForm.get('fooNo')!.dirty || editForm.get('fooNo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fooNo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
